#solutions {
    
        .reverse{
            flex-direction: row-reverse;
        }
    
       .feedback_img{
           display: flex;
       }
  
       
  
        .screen {
            width: 50%;
  
          img {
            width: 100%;
            
          }
        }
  
        .title {
          width: 50%;
  
          img {
            
            width: 100%;
            
          }
        }
        
}
