@use 'variables';
#jumbotron {
    background-color: variables.$primary_color;
  
    .container {
        
        @import 'partials/mixins';
        @include flex_between;

    
     
    }
    
  
    // Title
    .title {
      width: 50%;
  
      p {
        padding: 0;
      }
    }
    
    
  }
  .background {
   
    width: 50%;
    img{
        width: 100%;
        
    
    }
    

  }

/* #jumbotron {
    
    .sign-with {
        padding: 55px 0 30px;
    }  
  
    .btn {
        @import 'partials/_mixins';
        @include general_btn;
        color: $btn_color;

        &:hover {
          background-color: $btn_color;
          color: white;
        }

        img {
          @include general_btn_img;
        }
    }
        
          
    
    
} */