@use 'variables';
// stili bottoni

@mixin general_btn {
    border: 1px solid variables.$btn_color;
    border-radius: 5px;
    padding: 10px;
    font-size: variables.$font_size;
    font-size: variables.$font_size_small;
    
  }
  
  @mixin general_btn_img {
    width: 18px;
    vertical-align: text-bottom;
    margin-right: 5px;
  }
  
  @mixin flex_between {
    display: flex;
    justify-content: space-between;
  }
  // Background
  